.stage-cube-cont{


    .solid-logo{
        max-width: 350px;
        height: auto;
        position: absolute;
        top: 0px;
        left: 45%;
    }

    .video{
        position: absolute;
        top: 90%;
        left: 30%;
    }
}

