.about-page {

    .gallery {
        width: 70%;

        .image-gallery {
            position: relative;
            max-width: 20%;
            height: auto;
            object-fit: scale-down;
            border-radius: 3%;
        }
    }


    .stage-cube-cont {
        width: 50%;
        position: absolute;

        .solid-logo {
            max-width: 350px;
            height: auto;
            position: absolute;
            top: 0px;
            left: 40%;
        }

        .video {
            position: absolute;
            top: 110%;
            left: 20%;
            border-radius: 2%;
        }
    }
}