.about-page {

    .gallery {
        width: 100%;
        border-radius: 2%;

        .image-gallery {
            position: relative;
            max-width: 100%;
            border-radius: 80%;
        }
    }


    .stage-cube-cont {
        width: 50%;
        position: absolute;

        .solid-logo {
            max-width: 350px;
            height: auto;
            position: absolute;
            top: 0px;
            left: 41%;
        }

        .video {
            position: absolute;
            top: 90%;
            left: 27%;
            border-radius: 2%;
        }
    }
}