.about-page {

    .gallery {
        width: 100%;
        border-radius: 0%;

        .image-gallery {
            position: relative;
            max-width: 100%;
            border-radius: 80%;
        }
    }


    .stage-cube-cont {
        width: 50%;
        position: absolute;

        .solid-logo {
            max-width: 300px;
            height: auto;
            position: absolute;
            top: 0%;
            left: 40%;
        }

        .video {
            position: absolute;
            top: 90%;
            left: 25%;
            border-radius: 2%;
        }
    }

}