.about-page{
    
    .image-gallery{
        position: relative;
        max-width: 150px;
        height: auto;
        object-fit: scale-down;
        border-radius: 3%;
    }
}


.stage-cube-cont{


    .solid-logo{
        max-width: 350px;
        height: auto;
        position: absolute;
        top: 0px;
        left: 38%;
    }

    .video{
        position: absolute;
        top: 100%;
        left: 25%;
        border-radius: 3%;
    }
}

